/*These are my styles*/

ul li.chris {
  font-size: 150%;
  font-weight:bold;
}

ul#menu{
  list-style-type: none;
  list-style-position: inside;
  z-index: 1;
  position: relative;
  padding: 30px;
  padding-top: 0;
}

ul#menu lh {
  font-size: 125%;
}

ul#menu li, ul li.tools, ul#menu lh, ul li.chris {
  font-weight: bold;
}

.underneath {
  top: 30px;
  height: 100%;
  width: 100%;
  z-index: -1; 
  position: absolute;
} 

.fade {
  background: rgba(255, 255, 255, 0.75);
  max-width: 360px;
  max-height: 600px;
  z-index: 0;
  position: relative;
}

#slides .slidesjs-previous, #slides .slidesjs-next, #slides .slidesjs-play, 
    #slides .slidesjs-stop, #slides .slidesjs-pagination-item{
        position: absolute;
        top: 1.5%;
}

    #slides .slidesjs-previous{
        left: 3.5%;
    }

    #slides .slidesjs-next{
        left: 7.5%;
    }

    #slides .slidesjs-play, #slides .slidesjs-stop{
        left: 11.5%;
    }

    #slides .slidesjs-pagination-item{
        top: 2.5%;
    }

    #slides .slidesjs-pagination-item:first-child{
        left: 18%;
    }

    #slides .slidesjs-pagination-item:nth-child(2){
        left: 22%;
    }

    #slides .slidesjs-pagination-item:nth-child(3){
        left: 26%;
    }

    #slides .slidesjs-pagination-item:nth-child(4){
        left: 30%;
    }

    #slides .slidesjs-pagination-item:nth-child(5){
        left: 34%;
    }

    #slides .slidesjs-pagination-item:nth-child(6){
        left: 38%;
    }

    #slides .slidesjs-pagination-item:nth-child(7){
        left: 42%;
    }

    #slides .slidesjs-pagination-item:nth-child(8){
        left: 46%;
    }

    #slides .slidesjs-pagination-item:nth-child(9){
        left: 50%;
    }

    #slides .slidesjs-pagination-item:nth-child(10){
        left: 54%;
    }

    #slides .slidesjs-pagination-item:nth-child(11){
        left: 58%;
    }

    #slides .slidesjs-pagination-item:nth-child(12){
        left: 62%;
    }

    #slides .slidesjs-pagination-item:nth-child(13){
        left: 66%;
    }

    #slides .slidesjs-pagination-item:nth-child(14){
        left: 70%;
    }

    #slides .slidesjs-pagination-item:nth-child(15){
        left: 74%;
    }

    #slides .slidesjs-pagination-item:nth-child(16){
        left: 78%;
    }

  @media (min-width: 551px) {
    .fade {
      margin: 0 auto;
      top: 50px;
        }
    }

    /* For smartphones */
    @media (max-width: 460px) {
        .fade {
          margin: 250px auto 0;
        }
    }

    @media (max-width: 480px)  and (min-width: 461px) {
        .fade {
          margin: 270px auto 0;
        }
    }

    @media (max-width: 510px)  and (min-width: 481px) {
        .fade {
          margin: 290px auto 0;
        }
    }

    @media (max-width: 550px) and (min-width: 511px) {
        .fade {
          margin: 320px auto 0;
        }
    }

    @media (min-width: 1425px) {
        .container {
          width: 1425px;
        } 
    }

form.inline {
  display: inline;
  margin: 0;
  padding: 0;
}

.linkbar {
  padding: 8px;
  padding-top: 0;
  list-style-type: none;
  display: block;
}

.linkbar li {
  padding: 8px;
  list-style-position: inside;
  display: inline;
}

/* entire container, keeps perspective */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  transform-style: preserve-3d;
}
/* flip the pane when hovered */
  .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 360px;
  max-height: 600px;
}

/* flip speed goes here */
.flipper {
  transition: 2.5s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -o-backface-visibility: hidden;
  
  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;
  backface-visibility: hidden;

  position: absolute;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.cen {
  text-align: center;
}