* {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
margin: 0;
padding: 0;
background-repeat: no-repeat;
background-attachment:local;
}

    #slides {
      display:none;
    }

h1 {
font-size: 200%;
float: right;
border: 0;
outline: 0;
}

div { 
  width:40%;
  margin: 10px 50px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity:0.6;
  /*filter:alpha(opacity=60); For IE8 and earlier*/
}

ul {
list-style-type: none;
text-align: justify;
margin: 0 5px 20px 50px;
position: relative;
z-index: 1;
}

body {
background-color: #000000;
margin: 0;
padding: 0;
text-align: center;
font-size: 20px;
margin: 1em 0 4em 0;
}

html {
  min-width: 1040px;
  margin: 0;
}

li {  
list-style:none;
} 

li a { 
text-align:center;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
letter-spacing:1px;
color:#000; 
text-decoration:none;
transition: 10s;
width: 100%;
}

/* for slides */
    body {
      -webkit-font-smoothing: antialiased;
      font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #232525;
      padding-top:70px;
    }

    #slides {
      display: none
    }

    #slides .slidesjs-navigation {
      margin-top:3px;
    }

    #slides .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }

    #slides .slidesjs-next {
      margin-right: 5px;
      float: left;
    }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }

    #slides {
      display: none
    }

    .container {
      margin: 0 auto
    }


/*   
.bg {
  position: fixed;
  background-image: url(img/cow.jpg);
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 10s;
  pointer-events: none;
}    
.menu li:nth-child(2):hover ~ .bg {
  background-image: url(img/MAflare.jpg);
}
.menu li:nth-child(3):hover ~ .bg {
  background-image: url(img/subrig.jpg);
}
.menu li:nth-child(4):hover ~ .bg {
  background-image: url(img/smoke.jpg);
}
.menu li:nth-child(5):hover ~ .bg {
  background-image: url(img/guate.jpg);
}
.menu li:nth-child(6):hover ~ .bg {
  background-image: url(img/trees.jpg);
}
.contact {
  display:inline-block;
}
.contact li.in a{
  background: url(img/in.png);
}
.contact li.git a{
  background: url(img/GitHub.png);
}
.contact li.mail a{
  background: url(img/email.png);
} */